In [3]:
# import libraries
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('final.csv')

In [5]:
data.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,...,WindDir9am_N,WindDir9am_E,WindDir9am_S,WindDir9am_W,WindDir3pm_N,WindDir3pm_E,WindDir3pm_S,WindDir3pm_W,RainToday_Yes,RainTomorrow_Yes
0,0,2009-01-01,Albury,0.466981,0.591682,0.0,0.067586,0.931034,0.387597,0.146154,...,0.0,0.0,0.0,3.0,1.0,0.0,0.0,2.0,0,0
1,1,2009-01-02,Albury,0.426887,0.542533,0.0,0.102069,0.944828,0.271318,0.146154,...,0.0,0.0,1.0,2.0,0.0,0.0,2.0,1.0,0,0
2,2,2009-01-03,Albury,0.448113,0.635161,0.0,0.067586,0.944828,0.155039,0.084615,...,0.0,1.0,2.0,0.0,0.0,3.0,0.0,0.0,0,0
3,3,2009-01-04,Albury,0.490566,0.744802,0.0,0.064828,0.834483,0.240310,0.046154,...,0.0,1.0,2.0,0.0,1.5,0.0,0.0,1.5,0,0
4,4,2009-01-05,Albury,0.504717,0.767486,0.0,0.080000,0.924138,0.271318,0.046154,...,1.0,2.0,0.0,0.0,1.5,0.0,0.0,1.5,0,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143129 entries, 0 to 143128
Data columns (total 33 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        143129 non-null  int64
 1   Date              143129 non-null  object
 2   Location          143129 non-null  object
 3   MinTemp           143129 non-null  float64
 4   MaxTemp           143129 non-null  float64
 5   Rainfall          143129 non-null  float64
 6   Evaporation       143129 non-null  float64
 7   Sunshine          143129 non-null  float64
 8   WindGustSpeed     143129 non-null  float64
 9   WindSpeed9am      143129 non-null  float64
 10  WindSpeed3pm      143129 non-null  float64
 11  Humidity9am       143129 non-null  float64
 12  Humidity3pm       143129 non-null  float64
 13  Pressure9am       143129 non-null  float64
 14  Pressure3pm       143129 non-null  float64
 15  Cloud9am          143129 non-null  float64
 16  Cloud3pm          143129 non-null  float64
 17  Temp9am           143129 non-null  float64
 18  Temp3pm           143129 non-null  float64
 19  WindGustDir_N     143129 non-null  float64
 20  WindGustDir_E     143129 non-null  float64
 21  WindGustDir_S     143129 non-null  float64
 22  WindGustDir_W     143129 non-null  float64
 23  WindDir9am_N      143129 non-null  float64
 24  WindDir9am_E      143129 non-null  float64
 25  WindDir9am_S      143129 non-null  float64
 26  WindDir9am_W      143129 non-null  float64
 27  WindDir3pm_N      143129 non-null  float64
 28  WindDir3pm_E      143129 non-null  float64
 29  WindDir3pm_S      143129 non-null  float64
 30  WindDir3pm_W      143129 non-null  float64
 31  RainToday_Yes     143129 non-null  int64
 32  RainTomorrow_Yes  143129 non-null  int64
dtypes: float64(28), int64(3), object(2)
memory usage: 36.0+ MB

## Model

In [8]:
features= [
    "MinTemp",
    "MaxTemp",
    "Rainfall",
    "Evaporation",
    "Sunshine",
    #"WindGustSpeed",
    #"WindSpeed9am",
    #"WindSpeed3pm",
    #"Humidity9am",
    #"Humidity3pm",
    "Pressure9am",
    "Pressure3pm",
    "Cloud9am",
    "Cloud3pm",
    "Temp9am",
    "Temp3pm",
    #"WindGustDir_N",
    #"WindGustDir_E",
    #"WindGustDir_S",
    #"WindGustDir_W",
    #"WindDir9am_N",
    #"WindDir9am_E",
    #"WindDir9am_S",
    #"WindDir9am_W",
    #"WindDir3pm_N",
    #"WindDir3pm_E",
    #"WindDir3pm_S",
    #"WindDir3pm_W",
    "RainToday_Yes",
    ]
target= ["RainTomorrow_Yes"]

In [13]:
Y = data[target]
X = data[features]

#Y = data[target]
#X = data[features]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143129 entries, 0 to 143128
Data columns (total 33 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        143129 non-null  int64
 1   Date              143129 non-null  object
 2   Location          143129 non-null  object
 3   MinTemp           143129 non-null  float64
 4   MaxTemp           143129 non-null  float64
 5   Rainfall          143129 non-null  float64
 6   Evaporation       143129 non-null  float64
 7   Sunshine          143129 non-null  float64
 8   WindGustSpeed     143129 non-null  float64
 9   WindSpeed9am      143129 non-null  float64
 10  WindSpeed3pm      143129 non-null  float64
 11  Humidity9am       143129 non-null  float64
 12  Humidity3pm       143129 non-null  float64
 13  Pressure9am       143129 non-null  float64
 14  Pressure3pm       143129 non-null  float64
 15  Cloud9am          143129 non-null  float64
 16  Cloud3pm          143129 non-null  float64
 17  Temp9am           143129 non-null  float64
 18  Temp3pm           143129 non-null  float64
 19  WindGustDir_N     143129 non-null  float64
 20  WindGustDir_E     143129 non-null  float64
 21  WindGustDir_S     143129 non-null  float64
 22  WindGustDir_W     143129 non-null  float64
 23  WindDir9am_N      143129 non-null  float64
 24  WindDir9am_E      143129 non-null  float64
 25  WindDir9am_S      143129 non-null  float64
 26  WindDir9am_W      143129 non-null  float64
 27  WindDir3pm_N      143129 non-null  float64
 28  WindDir3pm_E      143129 non-null  float64
 29  WindDir3pm_S      143129 non-null  float64
 30  WindDir3pm_W      143129 non-null  float64
 31  RainToday_Yes     143129 non-null  int64
 32  RainTomorrow_Yes  143129 non-null  int64
dtypes: float64(28), int64(3), object(2)
memory usage: 36.0+ MB

### Have to split dataset such that each location has an equal number of entries

In [14]:
location_list= [i for i in data["Location"].unique()]
location_list

['Albury',
 'BadgerysCreek',
 'Cobar',
 'CoffsHarbour',
 'Moree',
 'Newcastle',
 'NorahHead',
 'NorfolkIsland',
 'Penrith',
 'Richmond',
 'Sydney',
 'SydneyAirport',
 'WaggaWagga',
 'Williamtown',
 'Wollongong',
 'Canberra',
 'Tuggeranong',
 'MountGinini',
 'Ballarat',
 'Bendigo',
 'Sale',
 'MelbourneAirport',
 'Melbourne',
 'Mildura',
 'Nhil',
 'Portland',
 'Watsonia',
 'Dartmoor',
 'Brisbane',
 'Cairns',
 'GoldCoast',
 'Townsville',
 'Adelaide',
 'MountGambier',
 'Nuriootpa',
 'Woomera',
 'Albany',
 'Witchcliffe',
 'PearceRAAF',
 'PerthAirport',
 'Perth',
 'SalmonGums',
 'Walpole',
 'Hobart',
 'Launceston',
 'AliceSprings',
 'Darwin',
 'Katherine',
 'Uluru']

## Training Set

In [15]:
data_training= pd.DataFrame()

for i in location_list:
    a=data[data['Location']==i]
    sample= a.sample(frac= 0.8)
    data_training= data_training.append(sample)

data_training.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,...,WindDir9am_N,WindDir9am_E,WindDir9am_S,WindDir9am_W,WindDir3pm_N,WindDir3pm_E,WindDir3pm_S,WindDir3pm_W,RainToday_Yes,RainTomorrow_Yes
1717,1717,2013-12-12,Albury,0.433962,0.612476,0.000000,0.068966,0.944828,0.224806,0.015385,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,3.0,0,0
596,596,2010-08-20,Albury,0.306604,0.311909,0.005391,0.012414,0.600000,0.310078,0.153846,...,1.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1,0
2141,2141,2015-02-09,Albury,0.681604,0.773157,0.000000,0.075862,0.889655,0.193798,0.146154,...,0.0,1.5,1.5,0.0,2.0,0.0,0.0,1.0,0,0
1245,1245,2012-06-29,Albury,0.330189,0.383743,0.010243,0.005517,0.275862,0.224806,0.000000,...,1.5,1.5,0.0,0.0,3.0,0.0,0.0,0.0,1,1
2031,2031,2014-10-22,Albury,0.455189,0.638941,0.000000,0.057931,0.868966,0.186047,0.069231,...,0.0,1.5,1.5,0.0,1.5,1.5,0.0,0.0,0,0

## Testing test

In [18]:
data_testing= data.copy() #first copy the original dataset 

X_merge = pd.merge(data, data_training, how='inner') #merges the two datasets of training and original

data_testing = data_testing.append(X_merge) #appends the original and training to the data_testing
data_testing['Duplicated']= data_testing.duplicated(keep=False) #hence marks all the duplocated rows with a True

data_testing_final = data_testing[~data_testing['Duplicated']] #selects rows which are not duplicated
del data_testing_final['Duplicated']

data_testing_final.head()   # data_testing= data_clustered - data_training

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,...,WindDir9am_N,WindDir9am_E,WindDir9am_S,WindDir9am_W,WindDir3pm_N,WindDir3pm_E,WindDir3pm_S,WindDir3pm_W,RainToday_Yes,RainTomorrow_Yes
11,11,2009-01-12,Albury,0.608491,0.746692,0.000000,0.049655,0.931034,0.224806,0.053846,...,0.0,1.5,1.5,0.0,0.0,0.0,1.0,2.0,0,0
18,18,2009-01-19,Albury,0.528302,0.782609,0.000000,0.066207,0.862069,0.255814,0.015385,...,0.0,1.0,2.0,0.0,2.0,1.0,0.0,0.0,0,0
21,21,2009-01-22,Albury,0.775943,0.733459,0.001617,0.095172,0.379310,0.713178,0.200000,...,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0,1
28,28,2009-01-29,Albury,0.714623,0.875236,0.000000,0.093793,0.917241,0.139535,0.046154,...,0.0,2.0,1.0,0.0,0.0,0.0,3.0,0.0,0,0
34,34,2009-02-04,Albury,0.712264,0.788280,0.000000,0.095172,0.910345,0.294574,0.084615,...,1.0,2.0,0.0,0.0,1.0,2.0,0.0,0.0,0,0

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [20]:
#using train test split by location
X_train= data_training[features]
y_train= data_training[target]

X_val= data_testing_final[features]
y_val= data_testing_final[target]

In [35]:
# make an array of depths to choose from, say 1 to 14
depths = np.arange(1, 14)

In [36]:
# define the number to try out for max leaf nodes 
leaf_nodes = [100, 150, 200, 250, 300]

In [37]:
sample_leafs = np.arange(4,10)

In [38]:
try_grid = [{'max_depth':depths,
              'max_leaf_nodes':leaf_nodes,
                'min_samples_leaf': sample_leafs}]

In [39]:
# define your Model using GridSearchCV
DTM = GridSearchCV(DecisionTreeClassifier(), param_grid=try_grid, cv=10)

In [40]:
DTM.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid=[{'max_depth': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13]),
                          'max_leaf_nodes': [100, 150, 200, 250, 300],
                          'min_samples_leaf': array([4, 5, 6, 7, 8, 9])}])

In [41]:
# find the best parameters
DTM.best_params_

{'max_depth': 12, 'max_leaf_nodes': 150, 'min_samples_leaf': 5}

In [27]:
DTM.best_score_

0.8161373327927421

In [28]:
best_DT_model = DecisionTreeClassifier(max_leaf_nodes = 100, max_depth = 8)

In [29]:
best_DT_model.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=8, max_leaf_nodes=100)

In [30]:
pred_val = best_DT_model.predict(X_val)

In [32]:
# import evaluation metrics
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [33]:
# evaluate result 
print("MAE:",mean_absolute_error(y_val, pred_val))
print("Accuracy:",accuracy_score(y_val, pred_val, normalize=True, sample_weight=None))
print("Classification Report:",'\n',classification_report(y_val, pred_val))
print("Confusion Matrix:", '\n', confusion_matrix(y_val, pred_val))

MAE: 0.1815896074870792
Accuracy: 0.8184103925129208
Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.94      0.89     22158
           1       0.67      0.39      0.49      6478

    accuracy                           0.82     28636
   macro avg       0.76      0.67      0.69     28636
weighted avg       0.80      0.82      0.80     28636

Confusion Matrix:
 [[20920  1238]
 [ 3962  2516]]